@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Giving Blood Saves Lives</h1>
    <p>Learn more at <a href="https://www.redcross.org">American Red Cross</a>.</p>
</div>
